# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv_win/
.venv/
.env
*.sqlite3

db.sqlite3

# Node
node_modules/
dist/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Frontend build
frontend/dist/
frontend/node_modules/
