.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  flex: 1;
  padding: 20px;
}
